*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

/*CSS INTERNO*/

body {
  margin: 0;
  --color-text: #111;
  --color-bg: #ffffff;
  --color-link: #000;
  --color-link-hover: #000;
  --color-border: #ffffff;
  --marquee-bg: #000;
  --marquee-text: #fff;
  --menu-focus: #775e41;
  color: var(--color-text);
  /* background-color: var(--color-bg); */
  background-image: linear-gradient(-225deg, #B6CEE8 0%, #F578DC 100%);
  font-family: -apple-system, -apple-system, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}


/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(227,253,245);
	background: linear-gradient(90deg, rgba(227,253,245,1) 0%, rgba(255,230,250,1) 100%);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 10;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: rgb(227,253,245);
	background: linear-gradient(90deg, rgba(227,253,245,1) 0%, rgba(255,230,250,1) 100%);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	z-index: 1000;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

[data-scroll] {
	will-change: transform;
}

.frame {
	padding: 2.5rem 3rem;
	position: absolute;
	z-index: 100;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 2.5rem;
}


.frame__links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	z-index: 20;
}

.frame__links_not_active {
	color: #989898;
	pointer-events: none;
  cursor: default;
}

.frame a {
	margin: 0.25rem 0;
	text-transform: lowercase;
	z-index: 1000;
}

.frame__github,
.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
	margin-right: 1rem;
}

.frame__demos {
	margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: var(--color-text);
}

.content {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	padding: 12rem 0;
	counter-reset: figure;
	z-index: 10;
}

.item {
	margin: 10vh auto;
	max-width: 100%;
	position: relative;
	will-change: transform;
	z-index: 1000;
}

/* .item::before {
	counter-increment: figure;
	content: counter(figure, decimal-leading-zero);
	position: relative;
	font-family: -apple-system, sans-serif;
	font-size: 1rem;
	color: var(--color-deco);
	bottom: calc(100% - 3rem);
} */

.item:nth-child(even)::before {
	right: 0;
}

.item__img-wrap {
	overflow: hidden;
	/*grandezza img*/
	width: 400px;
	padding-bottom: calc(100% / (var(--aspect-ratio)));
	will-change: transform;
}

.item__img-wrap-1 {
	overflow: hidden;
	/*grandezza img*/
	margin: 0 auto;
	padding-bottom: calc(100% / (var(--aspect-ratio)));
	will-change: transform;
  max-height: 800px;
}



/*first img - whole map*/
.item:first-child .item__img-wrap {
	width: calc(100vw - 7rem);
	--aspect-ratio: 220/90;
	--image: url(./img/tube.gif);
}

.item:nth-child(2) .item__img-wrap-1 {
	--aspect-ratio: 6/5;
		width: 600px;
	--image: url(./img/farms.png);
}

.item:nth-child(3) .item__img-wrap-1 {
	--aspect-ratio: 20/13;
		width: 1250px;
	--image: url(./img/trap_1.gif);
}

.item:nth-child(4) .item__img-wrap-1 {
	--aspect-ratio: 20/16;
		width: 1100px;
	--image: url(./img/trap_2.gif);
}


.item__img {
	--overflow: 40px;
	height: calc(100% + (2 * var(--overflow)));
	top: calc( -1 * var(--overflow));
	width: 100%;
	position: absolute;
	background-image: var(--image);
	background-size: cover;
	background-position: 50% 0%;
	will-change: transform;
}

.item__img--t1 {
	--overflow: 60px;
}

.item__img--t2 {
	--overflow: 80px;
}

.item__img--t3 {
	--overflow: 120px;
}

.item__caption {
	padding: 2rem 1rem;
}

.item__caption-title {
	font-family: -apple-system, sans-serif;
	font-weight: 500;
	font-size: 2rem;
	text-transform: uppercase;
	/* text-decoration: line-through; */
	margin: 0;
}

.item__caption-copy {
	margin: 0;
	text-align: right;
}

.item__caption-copy::before {
	content: '🎼';
	line-height: 1;
	color: var(--color-link);
	font-weight: 100;
	font-size: 2rem;
	margin: 1rem 0 1rem;
	display: block;
}

.item__caption-copy-1 {
	margin: 0 0 0 3rem;
	text-align: left;
}

.item__caption-copy-1::before {
	content: '✏️';
	line-height: 1;
	color: var(--color-link);
	font-weight: 100;
	font-size: 2rem;
	margin: 1rem 0 1rem;
	display: block;
}

.item__caption-copy-2 {
	margin: 3rem 0 0 8rem;
	text-align: left;
}

.item__caption-copy-2::before {
	content: '🎞️';
	line-height: 1;
	color: var(--color-link);
	font-weight: 100;
	font-size: 2rem;
	margin: 1rem 0 1rem;
	display: block;
}

.item__caption_var {
	padding: 3rem 1rem 0 1rem;
}

.item__caption_var-title {
	font-family: -apple-system, sans-serif;
	font-weight: 500;
	font-size: 2rem;
	text-transform: uppercase;
	/* text-decoration: line-through; */
	padding: 4rem 1rem 1rem 1rem;
	text-align: center;
}

.item__caption_var-copy {
text-align: center;
max-width: 100%;
}


.content:after {
  animation: grain 8s steps(10) infinite;
  background-image: url(https://www.bittbox.com/wp-content/uploads/2011/06/noise_pattern_3.jpg);
  content: "";
  height: 130%;
  opacity: 0.3;
  position: fixed;
	top: -30%;
  width: 150%;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
	10% { transform:translate(-3%, 1%) }
	20% { transform:translate(2%, 2%) }
	30% { transform:translate(-2%, 1%) }
  40% { transform:translate(3%, 2%) }
  50% { transform:translate(-5%, 2%) }
	50% { transform:translate(-2%, 3%) }
	60% { transform:translate(-1%, -2%) }
	70% { transform:translate(2%, 2%) }
	80% { transform:translate(-2%, 1%) }
  90% { transform:translate(-5%, 5%) }
}
